{% extends "base.html" %}
{% block content %}

<div class="container my-4">
    <div class="row">
        {% if products %}
        {% for product in products %}
           <div class="col-md-3 p-2">
            <div class="card p-2">
                <img src="{{product[5]}}" alt="" srcset="" style="height: 340px;">
               <div class="card-title">
                <h4>{{product[1]}}</h4>
                <p>{{product[3]}}</p>
                <p>{{(product[0])}}</p>
               </div> 
            </div>
            <form action="{{ url_for('delete_product', product_id=product[0]) }}" method="post">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
        {% endfor %}
          
        {% endif %}
       
    </div>
</div>
{% endblock %}